.post-form-container {
	width: 90% !important;
	margin:0 auto !important;
}

.page-title {
	text-align: center;
}

.post-form, .post-setting {
  width: 47%;
  float: left;
  padding:0% 1%;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eee;
  opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}
textarea.form-control {
  height: auto;
}

#loading {
    width: 100%;
    height: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    padding:15% 0%;
}

#loading h1 {
    text-align: center;
    padding: 10px 0px;
    width: 90%;
    color: #b6b6b6;
}

textarea {
  min-height: 210px;resize: vertical;
}

.post-results {
  display: inline-block;
}

.post-results li {
  width: 48%;
  float: left;
  padding: 4px;
}

.post-results li div {
  background-color: #fff;
  padding: 24px;
}

.post-results li label {
  font-weight: bolder;
}

/*LOADING DOANK*/

.cssload-jar {
  position: relative;
  width: 195px;
  margin: 49px auto 0;
  text-align: center;
  /*custom*/
  padding-right: 10%;
}
.cssload-jar .cssload-mouth {
  width: 39px;
  height: 10px;
  margin: 0 auto -1px;
  border-right: 4px solid rgb(0,0,0);
  border-left: 4px solid rgb(0,0,0);
  border-radius: 19px;
    -o-border-radius: 19px;
    -ms-border-radius: 19px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
}
.cssload-jar .cssload-neck {
  width: 34px;
  height: 46px;
  margin: 0 auto -7px;
  z-index: 7;
  position: relative;
  background-color: rgb(255,255,255);
  border-right: 4px solid rgb(0,0,0);
  border-left: 4px solid rgb(0,0,0);
}
.cssload-jar .cssload-bubble {
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: rgb(53,238,251);
  opacity: 0.4;
  left: 90px;
  z-index: 8;
  top: 107px;
  border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
  animation: cssload-buble 2.3s linear 1.15s infinite;
    -o-animation: cssload-buble 2.3s linear 1.15s infinite;
    -ms-animation: cssload-buble 2.3s linear 1.15s infinite;
    -webkit-animation: cssload-buble 2.3s linear 1.15s infinite;
    -moz-animation: cssload-buble 2.3s linear 1.15s infinite;
}
.cssload-jar .cssload-bubble + .cssload-bubble {
  left: 85px;
  top: 117px;
  width: 15px;
  height: 15px;
  animation-duration: 3.45s;
    -o-animation-duration: 3.45s;
    -ms-animation-duration: 3.45s;
    -webkit-animation-duration: 3.45s;
    -moz-animation-duration: 3.45s;
}
.cssload-jar .cssload-base {
  margin: auto;
  width: 117px;
  height: 97px;
  border: 4px solid rgb(0,0,0);
  border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 5;
}
.cssload-jar .cssload-base .cssload-bubble {
  left: 15px;
  top: 49px;
  animation: cssload-bounce 2.65s linear 0s infinite alternate;
    -o-animation: cssload-bounce 2.65s linear 0s infinite alternate;
    -ms-animation: cssload-bounce 2.65s linear 0s infinite alternate;
    -webkit-animation: cssload-bounce 2.65s linear 0s infinite alternate;
    -moz-animation: cssload-bounce 2.65s linear 0s infinite alternate;
}
.cssload-jar .cssload-base .cssload-bubble + .cssload-bubble {
  left: 73px;
  top: 39px;
  animation-duration: 3.45s;
    -o-animation-duration: 3.45s;
    -ms-animation-duration: 3.45s;
    -webkit-animation-duration: 3.45s;
    -moz-animation-duration: 3.45s;
}
.cssload-jar .cssload-liquid {
  height: 39px;
  background-color: rgb(53,238,251);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.cssload-jar .cssload-wave {
  width: 58px;
  height: 19px;
  position: absolute;
  background-color: rgb(53,238,251);
  left: 0;
  top: 56px;
  animation: cssload-wave 1.15s linear 1.15s infinite alternate;
    -o-animation: cssload-wave 1.15s linear 1.15s infinite alternate;
    -ms-animation: cssload-wave 1.15s linear 1.15s infinite alternate;
    -webkit-animation: cssload-wave 1.15s linear 1.15s infinite alternate;
    -moz-animation: cssload-wave 1.15s linear 1.15s infinite alternate;
  border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.cssload-jar .cssload-wave + .cssload-wave {
  left: auto;
  right: 0;
}

.cssload-jar {
  position: relative;
  width: 195px;
  margin: 49px auto 0;
  text-align: center;
}
.cssload-jar .cssload-mouth {
  width: 39px;
  height: 10px;
  margin: 0 auto -1px;
  border-right: 4px solid rgb(166,166,166);
  border-left: 4px solid rgb(179,179,179);
  border-radius: 19px;
    -o-border-radius: 19px;
    -ms-border-radius: 19px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
}
.cssload-jar .cssload-neck {
  width: 34px;
  height: 46px;
  margin: 0 auto -7px;
  z-index: 7;
  position: relative;
  background-color: rgb(255,255,255);
  border-right: 4px solid rgb(191,191,191);
  border-left: 4px solid rgb(184,184,184);
}
.cssload-jar .cssload-bubble {
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: rgb(53,238,251);
  opacity: 0.4;
  left: 90px;
  z-index: 8;
  top: 107px;
  border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
  animation: cssload-buble 2.3s linear 1.15s infinite;
    -o-animation: cssload-buble 2.3s linear 1.15s infinite;
    -ms-animation: cssload-buble 2.3s linear 1.15s infinite;
    -webkit-animation: cssload-buble 2.3s linear 1.15s infinite;
    -moz-animation: cssload-buble 2.3s linear 1.15s infinite;
}
.cssload-jar .cssload-bubble + .cssload-bubble {
  left: 85px;
  top: 117px;
  width: 15px;
  height: 15px;
  animation-duration: 3.45s;
    -o-animation-duration: 3.45s;
    -ms-animation-duration: 3.45s;
    -webkit-animation-duration: 3.45s;
    -moz-animation-duration: 3.45s;
}
.cssload-jar .cssload-base {
  margin: auto;
  width: 117px;
  height: 97px;
  border: 4px solid rgb(191,189,191);
  border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 5;
}
.cssload-jar .cssload-base .cssload-bubble {
  left: 15px;
  top: 49px;
  animation: cssload-bounce 2.65s linear 0s infinite alternate;
    -o-animation: cssload-bounce 2.65s linear 0s infinite alternate;
    -ms-animation: cssload-bounce 2.65s linear 0s infinite alternate;
    -webkit-animation: cssload-bounce 2.65s linear 0s infinite alternate;
    -moz-animation: cssload-bounce 2.65s linear 0s infinite alternate;
}
.cssload-jar .cssload-base .cssload-bubble + .cssload-bubble {
  left: 73px;
  top: 39px;
  animation-duration: 3.45s;
    -o-animation-duration: 3.45s;
    -ms-animation-duration: 3.45s;
    -webkit-animation-duration: 3.45s;
    -moz-animation-duration: 3.45s;
}
.cssload-jar .cssload-liquid {
  height: 39px;
  background-color: rgb(53,238,251);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.cssload-jar .cssload-wave {
  width: 58px;
  height: 19px;
  position: absolute;
  background-color: rgb(53,238,251);
  left: 0;
  top: 56px;
  animation: cssload-wave 1.15s linear 1.15s infinite alternate;
    -o-animation: cssload-wave 1.15s linear 1.15s infinite alternate;
    -ms-animation: cssload-wave 1.15s linear 1.15s infinite alternate;
    -webkit-animation: cssload-wave 1.15s linear 1.15s infinite alternate;
    -moz-animation: cssload-wave 1.15s linear 1.15s infinite alternate;
  border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.cssload-jar .cssload-wave + .cssload-wave {
  left: auto;
  right: 0;
}

@keyframes cssload-wave {
  from {
    transform: translateX(97px);
  }
  to {
    transform: translateX(-97px);
  }
}

@-o-keyframes cssload-wave {
  from {
    -o-transform: translateX(97px);
  }
  to {
    -o-transform: translateX(-97px);
  }
}

@-ms-keyframes cssload-wave {
  from {
    -ms-transform: translateX(97px);
  }
  to {
    -ms-transform: translateX(-97px);
  }
}

@-webkit-keyframes cssload-wave {
  from {
    -webkit-transform: translateX(97px);
  }
  to {
    -webkit-transform: translateX(-97px);
  }
}

@-moz-keyframes cssload-wave {
  from {
    -moz-transform: translateX(97px);
  }
  to {
    -moz-transform: translateX(-97px);
  }
}

@keyframes cssload-bounce {
  0% {
    transform: translate(5px, 15px);
  }
  50% {
    transform: translate(0, -15px);
  }
  100% {
    transform: translate(-5px, -36px);
    opacity: 1;
  }
}

@-o-keyframes cssload-bounce {
  0% {
    -o-transform: translate(5px, 15px);
  }
  50% {
    -o-transform: translate(0, -15px);
  }
  100% {
    -o-transform: translate(-5px, -36px);
    opacity: 1;
  }
}

@-ms-keyframes cssload-bounce {
  0% {
    -ms-transform: translate(5px, 15px);
  }
  50% {
    -ms-transform: translate(0, -15px);
  }
  100% {
    -ms-transform: translate(-5px, -36px);
    opacity: 1;
  }
}

@-webkit-keyframes cssload-bounce {
  0% {
    -webkit-transform: translate(5px, 15px);
  }
  50% {
    -webkit-transform: translate(0, -15px);
  }
  100% {
    -webkit-transform: translate(-5px, -36px);
    opacity: 1;
  }
}

@-moz-keyframes cssload-bounce {
  0% {
    -moz-transform: translate(5px, 15px);
  }
  50% {
    -moz-transform: translate(0, -15px);
  }
  100% {
    -moz-transform: translate(-5px, -36px);
    opacity: 1;
  }
}

@keyframes cssload-buble {
  0% {
    transform: translate(3px, 10px);
  }
  25% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(-3px, -24px);
  }
  75% {
    transform: translate(0, -49px);
    opacity: 1;
  }
  100% {
    transform: translate(3px, -97px);
    opacity: 0;
  }
}

@-o-keyframes cssload-buble {
  0% {
    -o-transform: translate(3px, 10px);
  }
  25% {
    -o-transform: translate(0, 0px);
  }
  50% {
    -o-transform: translate(-3px, -24px);
  }
  75% {
    -o-transform: translate(0, -49px);
    opacity: 1;
  }
  100% {
    -o-transform: translate(3px, -97px);
    opacity: 0;
  }
}

@-ms-keyframes cssload-buble {
  0% {
    -ms-transform: translate(3px, 10px);
  }
  25% {
    -ms-transform: translate(0, 0px);
  }
  50% {
    -ms-transform: translate(-3px, -24px);
  }
  75% {
    -ms-transform: translate(0, -49px);
    opacity: 1;
  }
  100% {
    -ms-transform: translate(3px, -97px);
    opacity: 0;
  }
}

@-webkit-keyframes cssload-buble {
  0% {
    -webkit-transform: translate(3px, 10px);
  }
  25% {
    -webkit-transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(-3px, -24px);
  }
  75% {
    -webkit-transform: translate(0, -49px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(3px, -97px);
    opacity: 0;
  }
}

@-moz-keyframes cssload-buble {
  0% {
    -moz-transform: translate(3px, 10px);
  }
  25% {
    -moz-transform: translate(0, 0px);
  }
  50% {
    -moz-transform: translate(-3px, -24px);
  }
  75% {
    -moz-transform: translate(0, -49px);
    opacity: 1;
  }
  100% {
    -moz-transform: translate(3px, -97px);
    opacity: 0;
  }
}

.video-results {
  overflow-y: auto;
  max-height: 400px;
  background: antiquewhite;
  border: 1px solid #b7adad;
}